.listResults{
    width: 100%;
}

.listResults h2{
    text-align: center;
    color: #333;
    font-weight: normal;
}

.content-list{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.content-list .list{
    width: 100%;
    margin-bottom: 1.5rem;
    max-width: 170px;
}

.content-list .list .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.6rem;
}

.content-list .list .info p{
    font-size: 12px;    
}

.content-list .list .icons i{
    margin: 0 0.3rem;
    cursor: pointer;
    opacity: 0.3;
    transition: 0.3s;
}

.content-list .list .icons i:hover{
    opacity: 1;
}

.content-list .list img{
    background: #e9e4e4;
    padding: 0.3rem;
    width: 100%;
    min-height: 170px;
    object-fit: cover;
}

.btns{
    display: flex;
}

.btn-edit{
    background: #333;
    color: #FFF;
}


.btn-excluir{
    background: lightblue;
    color: #FFF;
}

.no-photo{
    display: flex;
    background: #e9e4e4;
    min-height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background: none;
    border: 0;
    padding: 0.5rem 1.5rem;
    margin: 0 0 0 0.5rem;
    cursor: pointer;
}

@media(max-width:1084px){
    .content-list .list{
        width: 48%;
    }
}

@media(max-width:980px){
    .content-list .list{
        max-width: inherit;
    }

    .no-photo{
        height: 87%;
    }

    .show-users .users{
        min-height: auto;
        max-width: inherit;
    }
}

