.content-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #101010;
    height: 100px;
}


.content-footer address{
    font-style: normal;
    color: #FFF;
}